*{
    margin:0;
    padding:0;
}
.app-container{
    width:350px;
    height:640px;
    background:linear-gradient(#580e8f,#9200ff);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.top-section{
    height:150px;
    background-color:#9100fb;
    border-bottom-left-radius:80px;
    border-bottom-right-radius:80px;
}
.top-section p{
    text-align:center;
    padding-top:20px;
    color:white;
}
.left-icon{
    float:left;
    margin-left:30px;
    
}
.right-icon{
    float:right;
    margin-right:30px;
}

/* middle section*/

.middle-section{
    height:150px;
    background-image:linear-gradient(#580e8f,#9200ff);
    margin:-70px 30px 20px;/*agar dushre element ko pahle wale element kai uper  lana hai tou dushre element ka margin-top ko negative value dal do. */
    color:#fff;
    text-align:center;
    border-radius:10px;
}
.middle-section h1{
    padding-top:30px;
    padding-bottom:5px;
    font-size:50px;
    font-weight:normal;
}
.middle-section h1 span{
font-size:20px;
margin-left:5px;
margin-bottom:18px;
position:relative;
}
.payment-option-btn{
    color:#fff;
    margin:5px 30px;
    height:30px;
    width:290px;
    background-color:#9100fd;
    border:none;
    cursor:pointer;
}
.card-detail{
    background:#fff;
    color:#555;
    margin:10px 30px;
    padding:10px; 
}
.card-detail p{
     font-size:15px;
     font-family: 'Open Sans Condensed', sans-serif;
}
.card-detail label{
    font-size:10px;
    line-height:20px;
}
.card-num-field-group{
    margin-top:10px;
}
.date-field-group{
    margin-top:10px;
    display:inline-block;
}
.cvc-field-group{
    margin-top:10px;
    display:inline-block;
    float:right;
}
.name-field-group{
    margin-top:10px;
}
.card-num-field,.name-field{
    width:260px;

}
.date-field,.cvc-field{
    width:70px;
}
.card-detail input{
    border:1px solid #ccc;
    height:22px;
    padding:5px;
    font-size:10px;
}
.card-detail input::placeholder{
color:#ccc;
}
.pay-btn{
    color:#fff;
    margin-top:20px;
    padding:10px;
    height:30px;
    width:270px;
    background-color:#9100fd;
    border:none;
    cursor:pointer;
    font-family: 'Goblin One', cursive;
font-family: 'Open Sans Condensed', sans-serif;
    font-size:20px;
}